<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <nav>
        <div class="logo">Task<span class="blue-text">List</span></div>
        <ul>
            <li><a href="@Url.Action("Index", "Index")">Strona główna</a></li>
            <li><a href="@Url.Action("Login", "Index")">Zaloguj się</a></li>
            <li><a href="@Url.Action("Register", "Index")">Zarejestruj się</a></li>
        </ul>
        <button class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
    </nav>

    <section class="login">
        <div class="wrapper">
            <form action="@Url.Action("Login", "Index")" method="post">
                <h1>Zaloguj się</h1>
                <div class="form-box">
                    <label for="email">Adres email:</label>
                    <input type="email" id="email" name="Email" placeholder="Adres email">
                    <span class="error-text email-error"></span>
                </div>
                <div class="form-box">
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" name="Password" placeholder="Hasło">
                    <span class="error-text password-error"></span>
                </div>
                <div class="control-buttons">
                    <button type="submit" class="login-btn">Zaloguj się</button>
                </div>
                <p class="send-error">@ViewBag.Message</p>
            </form>
        </div>
    </section>
    <script src="~/js/login.js"></script>
</body>
</html>
